:root {
  background-color: #141414; /* Il nero tipico di Netflix */
  color: white;
}

body {
  margin: 0;
  background-color: #141414;
  color: #f5f5f1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#kids {
  color: #f5f5f1;
  font-size: 0.8em;
  cursor: pointer;
  align-self: center;
}

footer {
  color: #f5f5f1;
}

.footer-icon {
  color: #838383;
  font-size: 1.2em;
}

.footer-links {
  font-size: 0.8em;
}

.footer-links a {
  color: #838383;
  text-decoration: none;
}

.footer-links p {
  margin-bottom: 0.3em;
}

.footer-button {
  color: #838383;
  border-color: #838383;
}

.copyright {
  color: #838383;
  font-size: 0.6em;
}

.row img {
  transition: transform 0.2s;
  cursor: pointer;
}

.row img:hover {
  transform: scale(1.1);
  z-index: 1;
}

.icons {
  margin-left: 0.8em;
  margin-right: 0.8em;
  font-size: 1.2em;
  color: #f5f5f1;
}

.movie-poster-container {
  height: 150px;
  overflow: hidden;
  border-radius: 4px;
  background-color: #333;
  transition: transform 0.3s ease-in-out;
}

.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.movie-poster {
  object-fit: cover;
}

.movie-poster-container:hover {
  transform: scale(1.1);
  z-index: 10;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.movie-poster-container {
  aspect-ratio: 3/2;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.movie-title-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  background: rgba(0, 0, 0, 0.468);
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  z-index: 2;

  opacity: 0;
  transition: opacity 0.3s;
}
.movie-poster-container:hover .movie-title-overlay {
  opacity: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
